<section class="section__notfound">
  <div class="notfound__container">
    <div class="notfound__data">
      <div class="notfound__erro">Erro 404</div>
      <p class="notfound__title">Desculpe</p>
      <p class="notfound__message">
        Não conseguimos encontrar a página<br />
        que você está procurando.
      </p>
      <button class="notfound__button" routerLink="/">Inicio</button>
    </div>
    <div class="notfound__image__container">
      <img class="notfound__image" src="../../../assets/404.png" />
      <div class="home__shadow"></div>
    </div>
  </div>
</section>
