.back__home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}
.back__home:hover {
  background-color: var(--secondary-color-hover);
}

.profile__section {
  width: 100%;
  height: 100%;
  padding: 25px 15px;
  grid-template-areas:
    "profile__header "
    "profile__image "
    "profile__description";
}

/* Profile Header */
.profile__header {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  bottom: 60px;
  grid-area: profile__header;
}
.profile__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 30px;
}
.profile__logo__image {
  width: 110px;
}
.profile__name {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: var(--h1-weight);
  text-transform: capitalize;
}
.profile__code__type {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.profile__code,
.profile__type {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: var(--normal-weight);
}
.profile__type {
  display: flex;
  margin-top: 5px;
}
.profile__type__color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 30px;
  color: var(--contrast-color);
  font-size: 22px;
  text-transform: capitalize;
  margin-left: 15px;
  background-color: #f7802a;
}

/* Profile Image */
.profile__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border: 1px solid #eff4fa;
  border-radius: 100%;
  margin: 0px auto;
  margin-bottom: 35px;
  position: relative;
  bottom: 60px;
  grid-area: profile__image;
}
.profile__image__pokemon {
  width: 60%;
}

/* Profile Description */
.profile__description {
  width: 100%;
  position: relative;
  bottom: 60px;
  grid-area: profile__description;
}
.profile__description__title {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: var(--h1-weight);
}
.profile__description__text {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: var(--h2-weight);
  margin-top: 8px;
  margin-bottom: 40px;
}
.profile__height__container,
.profile__weight__container {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: var(--h2-weight);
  margin-top: 5px;
}
.profile__weight__container {
  margin-bottom: 50px;
}
.profile__stats {
  width: 100%;
}
.profile__skill {
  display: flex;
  width: 100%;
}
.profile__skill__name {
  min-width: 82px;
  margin-right: 15px;
  color: var(--primary-color);
  font-weight: var(--h2-weight);
}
.profile__bar {
  width: 100%;
  max-width: 280px;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: var(--contrast-color);
}
.profile__bar__life {
  max-width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #c4f789;
}
.profile__bar__defense {
  max-width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #f7802a;
}
.profile__bar__speed {
  max-width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #49d0b0;
}
.profile__bar__attack {
  max-width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #ea686d;
}

/* Loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--secondary-color);
  border-color: var(--secondary-color) transparent var(--secondary-color)
    transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Profile Ellipsis */
.profile__ellipsis__top,
.profile__ellipsis__bottom {
  width: 135px;
  z-index: -1;
  position: absolute;
}
.profile__ellipsis__top {
  right: -10px;
  top: 10px;
}
.profile__ellipsis__bottom {
  left: -110px;
}

/* Media Query */
@media screen and (max-width: 766px) {
  .profile__ellipsis__bottom,
  .profile__ellipsis__top {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .profile__section {
    align-items: center;
    max-width: 1920px;
    margin: auto;
    padding: 25px 70px;
    column-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "profile__header profile__image "
      "profile__description profile__image ";
  }
  .profile__logo {
    justify-content: start;
  }
  .profile__image {
    width: 280px;
    height: 280px;
    position: static;
  }
  .profile__code__type {
    flex-direction: row;
    justify-content: space-between;
  }
  .profile__type {
    margin-top: 0;
  }
}
@media screen and (min-width: 1180px) {
  .profile__image {
    width: 400px;
    height: 400px;
  }
}
