:root {
  /* Colors */
  --body-color: hsla(0, 0%, 97%, 1);
  --primary-color: hsla(227, 43%, 33%, 1);
  --secondary-color: hsla(358, 76%, 66%, 1);
  --secondary-color-hover: hsl(358, 69%, 60%);
  --secondary-color-active: hsl(358, 60%, 55%);
  --text-color: hsla(226, 54%, 30%, 1);
  --contrast-color: hsla(0, 0%, 100%, 1);
  --life-color: hsla(88, 87%, 75%, 1);
  --defense-color: hsla(25, 92%, 57%, 1);
  --speed-color: hsla(166, 59%, 55%, 1);
  --attack-color: hsla(358, 76%, 66%, 1);

  /* Fonts-size */
  --h1-font-size: 35px;
  --h2-font-size: 22px;
  --normal-font-size: 16px;

  /* Fonts-weight */
  --h1-weight: 700;
  --h2-weight: 600;
  --normal-weight: 400;

  /*  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-color);
  overflow-x: hidden;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-weight);
}

h2,
h3,
h4 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-weight);
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  color: var(--contrast-color);
  background-color: var(--secondary-color);
}

main {
  background-color: transparent;
  min-height: 100vh;
  padding: 0.5rem;
  max-width: 1360px;
  margin: auto;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}

/* breakpoints */

@media screen and (max-width: 348px) {
  :root {
    --h1-font-size: 28px;
    --h2-font-size: 18px;
    --normal-font-size: 14px;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 767px) {
  main {
    padding: 2rem;
  }
}

@media screen and (min-width: 1180px) {
  :root {
    --h1-font-size: 55px;
    --h2-font-size: 30px;
    --normal-font-size: 25px;
  }
  main {
    padding: 3rem;
  }
}
